<h1><%= @doctor.name %></h1>

<h2><%= @doctor.specialty %></h2>
<h2><%= @doctor.education %></h2>
<h2><%= @hospital.name %></h2>

<h3>This Doctors Patients:</h3>

<% @patients.each do |patient| %>
  <section id="patient-<%= patient.id %>">
    <p><%= patient.name %><%= button_to("Remove Patient", "/doctors/#{@doctor.id}/patients/#{patient.id}", method: :patch) %></p>
    <p>Age: <%= patient.age %></p>
  </section>
<% end %>
